{% for chat in chats %}
<div class="chat hover-glow animated fadeIn">
    <div class="chat-avatar-container">
        {% if chat.avatar is not empty %}
        <img class="avatar" src="{{ chat.avatar }}" alt="Avatar"
             style="width:100%;">
        {% else %}
        <img class="avatar" src="res/avatar.png" alt="Avatar"
             style="width:100%;">
        {% endif %}
    </div>

    <div class="chat-body-container">
        <h3 class="name">{{ chat.name }}</h3>
        <p class="chat-body">{{ chat.body }}</p>
        {% if chat.city is not empty %}
        <span class="location">{{ chat.city }}</span>
        {% else %}
        <span class="location">Unknown</span>
        {% endif %}
        <span class="time">{{ chat.timestamp | date("M j | h:i a", "America/Boise")  }}</span>
    </div>
</div>
{% endfor %}