{% extends 'base_login.html' %}

{% block title %}Login{% endblock %}

{% block heading %}SIGN IN{% endblock %}

{% block body %}

<div class="container" >
    <div class="z-depth-1 grey lighten-4 row form-container form-container-custom" style="">

        <form class="col s12" action="/login/create" method="post">

            <div class='row'>
                <div class='input-field col s12'>
                    <input type="email" id="inputEmail" name="email" autofocus value="{{ email }}"/>
                    <label for="inputEmail">Email address</label>
                </div>
            </div>

            <div class='row'>
                <div class='input-field col s12'>
                    <input type="password" id="inputPassword" name="password"/>
                    <label for="inputPassword">Password</label>
                </div>
                <label style="float: left; padding-left: 0.75rem;">
                    <input type="checkbox" name="remember_me" {% if remember_me %} checked="checked"{% endif %} />
                    <span style="font-size: 12px;" class="hover-grow-increased">Remember me</span>
                </label>
                <label style="float: right; padding-right: 0.75rem; font-size: 12px;">
                    <a class='red-text hover-grow-increased' href='/password/forgot' style="font-size: 12px; line-height:25px;"><b>Forgot Password?</b></a>
                </label>
            </div>
            <center>
                <div class='row' style="clear: both">
                    <button type='submit'  class='col s12 btn btn-large waves-effect purple hover-grow' id="submitButton">Login</button>
                </div>
            </center>
        </form>
    </div>
</div>

<a href="/signup/new" class="hover-grow-increased" id="link-signup-login-bottom">Create account</a>

{% endblock %}